@CHARSET "UTF-8";

.z-window {
	background-image: none;
	background-color: #800400;
}

.z-window-header {
	color: white;
	font-size: 18px;
	font-weight: normal;
	background-color: #800400;
}

.z-borderlayout {
	background-image: none;
	background-color: #800400;
}

.etiqueta {
	font-weight: bold;
	font-family: arial;
	color: black;
	font-size: 12px;
}

.etiqueta2 {
	font-weight: bold;
	font-family: arial;
	color: white;
	font-size: 16px;
}
.etiqueta3 {
	font-weight: bold;
	font-family: arial;
	color:  #8A0808;
	font-size: 13px;
}


.z-textbox {
	width: 99%;
}

.z-groupbox-3d {
	background: #F2F2F2;
}

.z-groupbox-3d-hm {
	background: white;
}

.z-groupbox-3d-hl .z-groupbox-3d-header {
	color: black;
	font-size: 15px;
	font-weight: 800;
}

.btn {
	font-weight: 800;
	font-size: 12px;
	color: #8A0808;
	cursor: pointer;
	width: 105px;
	height: 30px;
	background: #999999;
}

.pasar {
	cursor: pointer;
	background: #999999;
	width: 30px;
	height: 30px;
	padding: 2px;
}

.multilinea {
	height: 27px;
}

.multilineab {
	height: 45px;
}

.multilineaTab {
	height: 230px;
}

.z-listbox-autopaging .z-listcell-content {
	height: 30px;
	overflow: hidden;
}

.z-loading {
	background-color: #800400;
	border: 1px outset #A0A0A0;
	font-weight: bold;
	font-size: 18px;
	cursor: wait;
	width: 250px;
	height: 45px;
}

.z-loading-indicator {
	color: gray;
	border: 0 none;
}

.abrir {
	color: #800400;
	margin-left: 1px;
	font-weight: bold;
	font-size: 12px;
	background: transparent;
}

.gris {
	background-color: #999999;
}

.banner {
	background-color: #8A0808;
}

.lblIndex {
	font-size: 26px;
	color: #8A0808;
	font-weight: bold;
}

div.z-listbox-header th.z-listheader,div.z-listbox-header th.z-auxheader
	{
	white-space: pre-line;
	font-size: 12px;
}

.z-listheader-content,.z-listcell-content,.z-listgroup-content,.z-listgroupfoot-content,.z-listfooter-content
	{
	font-size: 10px;
	color: #8A0808;
}

.gruposUsuario {
	background: #800400;
}

.paddingDiv {
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 8px;
}

.z-west-header,.z-center-header,.z-east-header,.z-north-header,.z-south-header
	{
	color: #8A0808;
}

td.z-listcell {
	border: 1px solid grey;
}

div.z-listheader-cnt {
	color: #800400;
	font-size: 12px;
}
di